[Unit]
Description=Droidian fingerprint listener
After=sm.puri.Phosh.service
StartLimitBurst=5000
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/fpdlistener
