Source: droidian-fpd-client
Section: misc
Priority: optional
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Build-Depends: debhelper-compat (= 13),
               qtbase5-dev | qtbase5-gles-dev,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               qtchooser,
               qtbase5-dev-tools,
               qt5-qmake,
               g++,
               libc6-dev,
               libpam0g-dev,
               batman-dev,
               libbatman-wrappers

Package: droidian-fpd-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
         libqt5core5a,
         libqt5dbus5,
         libqt5qml5,
         libqt5dbus5,
         libbatman-wrappers,
Description: Droidian fingerprint client
  Droidian fingerprint enrollment and client.

Package: droidian-fpd-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         droidian-fpd-client,
         libqt5core5a,
         libqt5gui5 | libqt5gui5-gles,
         libqt5dbus5,
         libqt5qml5,
         libqt5quick5 | libqt5quick5-gles,
         libqt5dbus5,
         libqt5quickcontrols2-5,
         qml-module-qtquick-controls,
         qml-module-qtquick-controls2,
         libbatman-wrappers,
Description: Droidian fingerprint gui
  Droidian fingerprint gui
