#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	make clean

override_dh_auto_configure:
	$(MAKE) clean

	qmake droidian-fpd-client.pro
	$(MAKE)

	qmake droidian-fpd-unlocker.pro
	$(MAKE)

	qmake droidian-fpd-gui.pro
	$(MAKE)

	$(MAKE) clean

override_dh_auto_test:
override_dh_dwz:
